-----------------------------------
Kiddo App Requirement
-----------------------------------
- Device: Photo API for verification
- Device: Location API 
- Device: Calendar API
- Device: Push notifications
- GoogleMap API
- ReactJS - Victory Graph
- Paypal Api -https://developer.paypal.com/docs/api/overview/


//Required Access details  

    - Payment Gateway - Stripe CC     
OK  - Paypal                                            (using my own)
    - GreenID
    - Mailchimp/SMS/Email (maybe through mailchimp as well)
    - Ios developer account

-----------------------------------
Kiddo App - Dev Plugin
-----------------------------------
 * cordova plugin add cordova-plugin-network-information
    - detect internet connection on load:  https://github.com/apache/cordova-plugin-network-information
  
-----------------------------------
Kiddo App - Page/Sections
-----------------------------------

- General
  - Login/Register
  - Messaging App

- For Parents - Parents View
  - Carer Search
    - Listing
      - Extra hours during 
    - Booking
      - Rating after successful job
      - On successful job CC/Paypal is pre-charge

- For Carer - Carer View
    - Update account information
    - Job View 
      - show past jobs
      - show upcoming jobs
    - Carer system settings

- For Admin - Admin View
   - List of customers and carers
   - Past jobs and future jobs
   - Messages from User/Error
   - Marketing System
    > User feedback
    > Mail-chimp connectivity
  

-----------------------------------
Security Measures
-----------------------------------

-----------------------------------
Dev Queries
-----------------------------------

General:
  - Confirming 3 types of members admin, parent and carer?
Registration:
  - Can a parent be a carer as well? (if yes how would that work)
  - For Carers registration, is this a manual registration where admin needs to approve until they can log in?
    - Is Bluecard/WWCC a must for carers? (Can they still login even without Bluecard? Maybe be unverified user)
      - Check for bluecard: https://www.bluecard.qld.gov.au/onlinevalidation/validation.aspx
Messaging:
  - Are all messages only to occure in-app? No external/notifications sms/email etc. 
  - Is the admin allow to see the messaging between users?
Marketing System:
  - 6.4 Marketing system is bit vague, for sending marketing emails. Is this something that should be done in MailChimp not in app (exporting user db into mailchimp) ?
Calendar:
 - For carers: I assumed the carer's (device) calendar data, will be uploaded(sync) to the database for use for parent to search?
